:root {
    --file: #f6c85f;
    --folder: #ffaf3b;

    /** Base colors */
    --clr-dark-a0: #000000;
    --clr-light-a0: #ffffff;

    /** Theme primary colors */
    --clr-primary-a0: #21a6d0;
    --clr-primary-a10: #4db0d5;
    --clr-primary-a20: #69b9db;
    --clr-primary-a30: #82c3e0;
    --clr-primary-a40: #99cde5;
    --clr-primary-a50: #aed7ea;

    /** Theme surface colors */
    --clr-surface-a0: #121212;
    --clr-surface-a10: #282828;
    --clr-surface-a20: #3f3f3f;
    --clr-surface-a30: #575757;
    --clr-surface-a40: #717171;
    --clr-surface-a50: #8b8b8b;

    /** Theme tonal surface colors */
    --clr-surface-tonal-a0: #181f22;
    --clr-surface-tonal-a10: #2d3437;
    --clr-surface-tonal-a20: #444a4c;
    --clr-surface-tonal-a30: #5c6163;
    --clr-surface-tonal-a40: #75797b;
    --clr-surface-tonal-a50: #8f9394;

    /** Success colors */
    --clr-success-a0: #22946e;
    --clr-success-a10: #47d5a6;
    --clr-success-a20: #9ae8ce;

    /** Warning colors */
    --clr-warning-a0: #a87a2a;
    --clr-warning-a10: #d7ac61;
    --clr-warning-a20: #ecd7b2;

    /** Danger colors */
    --clr-danger-a0: #9c2121;
    --clr-danger-a10: #d94a4a;
    --clr-danger-a20: #eb9e9e;

    /** Info colors */
    --clr-info-a0: #21498a;
    --clr-info-a10: #4077d1;
    --clr-info-a20: #92b2e5;
}

body {
    background: var(--clr-surface-a0) !important;
    min-height: 100vh;
    padding: 18px;
}

.browser {
    display: grid;
    gap: 18px;
    grid-template-columns: 260px 1fr 360px;
    height: calc(100vh - 70px);
    color: var(--clr-light-a0);
}

@media (max-width: 1199px) {
    /* when hidden right panel in small screen*/
    .browser {
        grid-template-columns: 200px 1fr;
    }
}

@media (max-width: 769px) {
    /*when hidden both left and right in even smaller screen*/
    .browser {
        grid-template-columns: 1fr;
        gap: 0;
    }
}

.panel {
    background: linear-gradient(180deg, var(--clr-surface-a0), var(--clr-surface-a10));
    border-radius: 10px;
    box-shadow: 0 6px 18px rgba(2, 6, 23, 0.6);
    padding: 12px;
    height: 100%;
}

/* Tree View */
.tree-container {
    overflow-x: hidden;
    height: calc(100% - 64px);
}

.node {
    padding: 6px 8px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 14px;
    color: var(--clr-light-a0);
}

.node:hover {
    background: rgba(255, 255, 255, 0.03);
    color: #fff;
}

.node.active {
    background: linear-gradient(90deg, var(--clr-primary-a0), var(--clr-primary-a30));
    color: var(--clr-light-a0);
    box-shadow: inset 0 0 0 1px rgba(79, 156, 255, 0.06);
}

.node .label {
    flex: 1;
}

.toggle {
    width: 18px;
    height: 18px;
    display: inline-grid;
    place-items: center;
    font-size: 11px;
    color: var(--clr-light-a0);
}

/* Main View Items */
.item {
    background: var(--clr-surface-a10) !important;
    border: 1px solid;
    border-color: var(--clr-surface-a30);
    transition: transform .15s;
    overflow-y: auto;
    color: var(--clr-light-a0) !important;
}

.item:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(3, 6, 23, 0.5);
}

.item.selected {
    border-color: var(--clr-surface-a30);
    outline: 2px solid var(--clr-surface-a30);
}

.icon {
    width: 44px;
    height: 44px;
    border-radius: 8px;
    display: grid;
    place-items: center;
    font-size: 22px;
    color: #1a1a1a;
}

.icon.folder {
    background: linear-gradient(180deg, var(--folder), #ff8b00);
}

.icon.file {
    background: linear-gradient(180deg, var(--file), #e3b84a);
}

/* Preview Area */
.file-preview .big {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    display: grid;
    place-items: center;
    font-size: 48px;
}

.card-panel {
    background: linear-gradient(180deg, var(--clr-surface-a20), var(--clr-surface-a10));
    margin-bottom: 12px;
    padding: 12px;
    border-radius: 10px;
}

.breadcrumb-item::before {
    content: "/";
    font-size: 1rem;
    padding: 4px 8px;
    white-space: pre-wrap;
    color: var(--clr-light-a0) !important;
}

.breadcrumb-item button {
    background: transparent;
    border: 0;
    color: var(--clr-light-a0);
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 1rem;
}

.breadcrumb-item button:hover {
    background: var(--clr-surface-tonal-a0);
    color: var(--clr-primary-a0);
}

.search-input-group {
    background: var(--clr-surface-a20);
    border-radius: 8px;
    padding: 8px;
}

.search-input-group input {
    background: var(--clr-surface-a20);
    border: 0;
    outline: 0;
    font-size: 0.9rem;
}

.search-input-group input::placeholder {
    color: var(--clr-surface-a50);
}

.search-input-group svg {
    opacity: .7;
}

.upBtn {
    background: var(--clr-primary-a20);
    color: var(--clr-dark-a0);
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 0.9rem;
}

.upBtn:hover {
    background: var(--clr-primary-a0);

}